<div class="stolen-frosty span6 offset3 text-center">

    <h1 class="stolen-h1">Hi!</h1>

    <br/>

    <h2>
      Firehose Weekend begins. Shiny.
    </h2>

    <br/>
    <br/>

    <%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large' %>

</div>